<head>

<title> Flashcards </title>

<link rel="stylesheet" href="/css/styles.css">

</head>

<ul>
  <% @students.each do |student| %>
    <li> 
      <p><img width="200" src = <%= student["image_url"]%>></p>
      <h3><%= student["first_name"] %> <%= student["last_name"] %></h3>
    </li>
  <% end %>
</ul>
